<!-- 
  - #FOOTER
-->

<footer class="footer">
  <div class="footer-top section">
    <div class="container">

      <!-- Footer Brand Section -->
      <div class="footer-brand">
        <a href="#" class="logo">Chef's Kiss</a>
        <p class="footer-text">
          At Chef's Kiss, we bring you the finest culinary experiences. From mouth-watering recipes to expert cooking tips,
          we are here to make every meal a masterpiece. Let’s cook up something amazing together!
        </p>

        <div class="schedule">
          <div class="schedule-icon">
            <ion-icon name="time-outline"></ion-icon>
          </div>
        </div>
      </div>

      <!-- Quick Links Section -->
      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Quick Links</p>
        </li>
        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <span class="span">Home</span>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <span class="span">About Us</span>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <span class="span">Services</span>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <span class="span">our Team</span>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <span class="span">get started</span>
          </a>
        </li>
      </ul>

      <!-- Our Services Section -->
      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Our Services</p>
        </li>
        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <span class="span">Personalized Recipes</span>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <span class="span">Reduce Food Waste</span>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <span class="span">Healthy Eating</span>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <span class="span">Meal Planning</span>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <span class="span">Quick & Easy</span>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <span class="span">Dietary Filters</span>
          </a>
        </li>
      </ul>

      <!-- Contact Us Section -->
      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Contact Us</p>
        </li>
        <li class="footer-item">
          <div class="item-icon">
            <ion-icon name="call-outline"></ion-icon>
          </div>
          <a href="tel:+216 93805935" class="footer-link">+216 123-456-7890</a>
        </li>
        <li class="footer-item">
          <div class="item-icon">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <a href="mailto:tbenfriha309@gmail.com" class="footer-link">chef’s kiss 152gmail.com</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Footer Bottom Section -->
  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">
        &copy; 2025 chef’s kiss All Rights Reserved.
      </p>

      <ul class="social-list">
        <li>
          <a href="https://www.facebook.com/yqyny.yqyny.79" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/yqyny.yqyny.79" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>